## Gradle

.gradle
gradle-app.setting
build/


*.exe
*.class

output
lib

workspace.xml
thriftCompiler.xml

$CACHE_FILE$
$PRODUCT_WORKSPACE_FILE$
vocabulary-book/projects/chapter5/.idea/dataSources
dataSources.local.xml
dataSources.xml

