
# User-specific stuff
.idea/workspace.xml

output
lib

## Gradle

.gradle
gradle-app.setting
build/


*.exe
workspace.xml
thriftCompiler.xml
$CACHE_FILE$
$PRODUCT_WORKSPACE_FILE$
vocabulary-book/projects/chapter5/.idea/dataSources
dataSources.local.xml
dataSources.xml
