<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hintBean1" class="com.example.vocabularybook.chapter7.hints.Hint1">
    </bean>

    <!-- ログ出力クラス(1) -->
    <bean id="hintBean2" class="com.example.vocabularybook.chapter7.hints.Hint2">
    </bean>

    <!-- AOPの設定(2) -->
    <bean id="aopHintBean1" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="hintBean1">
        </property>
        <property name="interceptorNames">
            <list>
                <value>hintBean2</value>
            </list>
        </property>
    </bean>
</beans>