<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- データベース接続(1) -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:./data/book"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>

    <!-- データアクセス(2) -->
    <bean id="bookDao" class="com.example.vocabularybook.chapter7.dataaccess.BookOnDbImpl">
        <property name="ds" ref="dataSource"/>
    </bean>

    <!-- ビジネスロジック(3) -->
    <bean id="bookLogic" class="com.example.vocabularybook.chapter7.logic.TranslateLogicImpl">
        <property name="book" ref="aopBookDao"/>
    </bean>

    <!-- ロギングクラス -->
    <bean id="logger" class="com.example.vocabularybook.chapter7.logging.Logger">
    </bean>

    <!-- AOP設定（データアクセス） -->
    <bean id="aopBookDao" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="bookDao">
        </property>
        <property name="interceptorNames">
            <list>
                <value>logger</value>
            </list>
        </property>
    </bean>

    <!-- AOP設定（データアクセス） -->
    <bean id="aopBookLogic" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="bookLogic">
        </property>
        <property name="interceptorNames">
            <list>
                <value>logger</value>
            </list>
        </property>
    </bean>

</beans>